<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рекомендации соискателям</title>
</head>
<body>
  <h1>Введите желаемую зарплату</h1>
  <form method="post">
    <label for="salary_from">Зарплата от</label><br>
    <input type="number" id="salary_from" name="salary_from"><br>
    <label for="salary_to">Зарплата до</label><br>
    <input type="number" id="salary_to" name="salary_to"><br>
    <input type="submit" value="Перейти к рекомендациям">
  </form>
</body>
</html>